@page
@model Tracking_Events.Pages.Reviews.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Event.EventName" class="control-label"></label>
            <input asp-for="Event.EventName" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="Event.Venue.VenueName" class="control-label"></label>
            <input asp-for="Event.Venue.VenueName" class="form-control" disabled />
        </div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="EventID" value="@Model.Event.EventID" hidden />
            <input asp-for="VenueID" value="@Model.Event.Venue.VenueID" hidden />
            <div class="form-group">
                <label asp-for="Review.Rating" class="control-label"></label>
                <select asp-for="Review.Rating" class="form-control">
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span asp-validation-for="Review.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Description" class="control-label"></label>
                <input asp-for="Review.Description" class="form-control" />
                <span asp-validation-for="Review.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
