@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<header class="masthead">
    <p class="masthead-intro">Welcome to </p>
    <h1 class="masthead-heading">Tracking Events!</h1>
</header>
<section class="introduction-section">
    <h1>Our Motive</h1>
    <p>Our goal is to connect local patrons to their environment so that they are aware of the upcoming events near them and give them the opportunity to learn more and possibly attend these events.</p>
    
</section>
<section class="location-section">
    <h1>Where We're From</h1>
    <p>We originate from Long Island, NY. </p>
</section>
<section class="questions-section">
    <h1>More About Our Team</h1>
    <p>Our Senior Developers include: Alex Tsakanikas, Kevin Hu, Paul Salomon, Tim Casali, and Vincent Grippa. Our group contains five undergraduate students from all different backgrounds who came together to create a system to benefit users around the world.</p>
    
</section>

<footer class="content-footer">
    <p>Keep up with our updates here:</p>
    <ul class="social">
        <li><a class="css-is-deranged" href="htps://www.Github.com">GitHub</a></li>
        <li><a class="css-is-deranged" href="htps://www.twitter.com">Twitter</a></li>
        <li><a class="css-is-deranged" href="htps://www.instagram.com">Instagram</a></li>
    </ul>

</footer>